.env-item-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

bin
common_pf
Dangerfile
detection.txt
dic.yml
Dockerfile
ds_pf
e2etest
en.po
Gemfile
Gemfile.lock
Guardfile
_includes
index.adoc
index.html
introduction
_javascripts
Jenkinsfile
_lib
package.json
package-lock.json
prh_pu.yml
prh.yml
Rakefile
README.adoc
README_DIFF.adoc
README_TRANSLATE.adoc
rsi_app
rsi_common
search.adoc
search.html
search_index.ja.js
_stylesheets
_template
_tools