#result-top-container {
  margin: 20px auto;
  width: 800px;
}

.result-container {
  display: grid;
  grid-template-columns: 100px 160px 100px 360px;
  grid-template-rows: 75px;
  gap: 5px;
  border: 3px solid white;
  border-radius: 5px;
  outline: 2px solid burlywood;
  padding: 5px;
  margin: 20 auto;
  margin-top: 10px;
  width: 800px;
  height: 75px;
  background-color: lemonchiffon;
}

.result-container div {
  background-color: white;
  border-radius: 3px;
}
