{
  "log": {
    "_recordingName": "createIssue",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "abeedf6bd6613bc0fdf37a44bc8649fb",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer "
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"title\":\"title\",\"body\":\"body\",\"repo\":\"js-exercises\"}"
          },
          "queryString": [],
          "url": "https://api.github.com/repos/abetatsu-r/js-exercises/issues"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2118,
            "text": "{\"url\":\"https://api.github.com/repos/abetatsu-r/js-exercises/issues/43\",\"repository_url\":\"https://api.github.com/repos/abetatsu-r/js-exercises\",\"labels_url\":\"https://api.github.com/repos/abetatsu-r/js-exercises/issues/43/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/abetatsu-r/js-exercises/issues/43/comments\",\"events_url\":\"https://api.github.com/repos/abetatsu-r/js-exercises/issues/43/events\",\"html_url\":\"https://github.com/abetatsu-r/js-exercises/issues/43\",\"id\":2677928585,\"node_id\":\"I_kwDOK4Pg_s6fnfKJ\",\"number\":43,\"title\":\"title\",\"user\":{\"login\":\"abetatsu-r\",\"id\":105190429,\"node_id\":\"U_kgDOBkUUHQ\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/105190429?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/abetatsu-r\",\"html_url\":\"https://github.com/abetatsu-r\",\"followers_url\":\"https://api.github.com/users/abetatsu-r/followers\",\"following_url\":\"https://api.github.com/users/abetatsu-r/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/abetatsu-r/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/abetatsu-r/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/abetatsu-r/subscriptions\",\"organizations_url\":\"https://api.github.com/users/abetatsu-r/orgs\",\"repos_url\":\"https://api.github.com/users/abetatsu-r/repos\",\"events_url\":\"https://api.github.com/users/abetatsu-r/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/abetatsu-r/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":0,\"created_at\":\"2024-11-21T04:31:47Z\",\"updated_at\":\"2024-11-21T04:31:47Z\",\"closed_at\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"body\":\"body\",\"closed_by\":null,\"reactions\":{\"url\":\"https://api.github.com/repos/abetatsu-r/js-exercises/issues/43/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/abetatsu-r/js-exercises/issues/43/timeline\",\"performed_via_github_app\":null,\"state_reason\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"3393fa858adba112dcba6763d5dd012fbf2e8a45110dd03b324581f89ddbeef6\""
            },
            {
              "name": "github-authentication-token-expiration",
              "value": "2024-11-28 13:26:38 +0900"
            },
            {
              "name": [...]
